---
layout: vertical_title
permalink: "/les-artistes"
title: Les artistes
meta_description : "Découvrez tous les artistes de La Conjoncture : acteur·ices, danseur·euses, metteur·euses en scène..."
---

<ul>
    {% for artist in site.artists %}
        <li>
            <a href={{ artist.url }} class="font-display text-2xl lg:text-4xl mb-8 lg:mb-10 inline-flex items-center bracket-link">
            {{ artist.full_name }}
            <div class="h-6 lg:h-8 w-auto ml-2 lg:ml-4">
                {% include arrow_svg.html %}
            </div>
            </a>
        </li>
    {% endfor %}
</ul>
