<footer class="bg-cream text-ocre border-t-2 relative z-30 py-8 lg:py-16" id="footer">
    <div class="container px-4 mx-auto lg:flex lg:justify-between">
        <div class="lg:w-1/2">
            <p class="font-bold">Vous voulez être tenu·e au courant des actualités de La Conjoncture ?</p>
            <p>Inscrivez-vous à la newsletter !</p>
        </div>
        <div class="lg:w-1/4">
            <p>Vous souhaitez soutenir le projet ?</p>
            <p>
                <a href="https://www.helloasso.com/associations/la-conjoncture" class="underline font-bold" target="blank">
                    Faites un don !
                </a>
            </p>
            <p class="mt-4">Mentions légales</p>
            <p class="mt-4">Site créé par le studio nada</p>
        </div>
    </div>
    <div class="fill-current flex justify-center mt-12 lg:mt-16">
        {% include logo.html %}
    </div>
</footer>
