---
---

@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Satoshi";
    src: url("/assets/fonts/Satoshi-Medium.woff");
    font-weight: normal;
}

@font-face {
    font-family: "Satoshi";
    src: url("/assets/fonts/Satoshi-Bold.woff");
    font-weight: bold;
}

@font-face {
    font-family: "Satoshi";
    src: url("/assets/fonts/Satoshi-MediumItalic.woff");
    font-weight: normal;
    font-style: italic;
}


.lined-paper {
    background-image:
            linear-gradient(#DCDCDC 1px, transparent .1em);
    background-size: 100% 2.5rem;
}
