---
layout: default
---

<img src="/assets/img/la-conjoncture-signe.svg" alt="" class="hidden lg:block fixed -right-24 lg:right-auto lg:left-0 -top-24 lg:-top-52 z-20 mix-blend-multiply w-1/2 md:w-1/4 lg:w-1/3 h-auto rotate-45">

<div class="min-h-screen lg:flex lg:justify-between pt-24 lg:pt-40 relative">
    <div class="lg:w-1/5 lg:min-h-screen lg:fixed hidden lg:block">
        <p class="font-bold text-4xl lg:absolute lg:top-0 lg:text-8xl lg:-translate-x-full lg:origin-top-right lg:-rotate-90 whitespace-nowrap">
            Les artistes
        </p>
    </div>

    <div class="lg:w-3/5 ml-auto">
        <a href="/les-artistes" class="inline-flex items-center text-ocre mb-12 bracket-link">
            <div class="h-4 w-auto mr-2 rotate-180">
                {% include arrow_svg.html %}
            </div>
            Revenir à la liste des artistes
        </a>

        <div id="page-content" class="transition-all duration-300">
            <h1 class="font-display text-2xl lg:text-4xl mb-8">
                {{ page.title }}
            </h1>

            <div class="lg:flex flex-row-reverse items-start relative">
                {% if page.picture %}
                    <img src="{{ page.picture }}" alt="Portrait de {{ page.title }}" class="lg:absolute lg:top-0 lg:-right-40 w-96 lg:w-80 xl:w-96 h-auto lg:-rotate-6">
                {% endif %}
                <div class="mt-8 lg:mt-0 lg:w-3/5 mr-auto prose-p:mb-4 prose-a:underline" id="cms-content">
                    {{ page.content }}
                </div>
            </div>
        </div>
        </div>

</div>
