<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="title" content="{{ page.title }} - {{ site.title }}">
    <meta name="description" content="{{ page.meta_description }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/rough-notation/lib/rough-notation.iife.js"></script>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body class="bg-cream text-lg text-black font-body selection:bg-ocre selection:text-cream overflow-x-hidden relative">
    {% include navbar.html %}
    <div class="container mx-auto relative px-4 relative">
      <div class="z-10 relative pb-20">{{ content }}</div>
      <div class="lined-paper fixed inset-0 h-screen z-0 overflow-hidden"></div>
    </div>
    {% include footer.html %}

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>

<script src="/assets/javascript/link_animations.js" type="module"></script>
