<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body class="bg-cream px-4 text-lg">
    <div class="container mx-auto relative">
      <div class="z-10 relative pb-20">{{ content }}</div>
      <div class="lined-paper fixed top-0 container h-screen z-0 overflow-hidden"></div>
    </div>
  </body>
</html>
