---
layout: default
---
<img src="/assets/img/la-conjoncture-signe.svg" alt="" class="absolute -right-24 md:-right-40 lg:-right-56 -top-24 lg:-top-64 z-20 mix-blend-multiply w-1/2 lg:w-2/5 h-auto rotate-45">

<div class="pt-24 lg:pt-32">
    <a href="/projets" class="inline-flex items-center text-ocre mb-12 bracket-link">
        <div class="h-4 w-auto mr-2 rotate-180">
            {% include arrow_svg.html %}
        </div>
        Revenir à la liste des projets
    </a>

    <h1 class="font-display text-2xl md:text-4xl lg:text-5xl mb-8">
        {{ page.title }}
    </h1>

    {% if page.picture %}
        <img src="{{ page.picture }}" alt="" class="object-cover w-full h-56 md:h-80 lg:h-[32rem]">
    {% endif %}
</div>

{% if page.link %}
    <a href="{{page.link}}" class="mt-12 inline-flex items-center font-display text-xl md:text-2xl bracket-link" target="_blank">
        {{page.link_anchor | default: "En savoir plus" }}
        <div class="h-4 w-auto ml-2">
            {% include arrow_svg.html %}
        </div>
    </a>
{% endif %}

<div class="mt-16 max-w-xl">
    <div class="prose-headings:mt-8 lg:prose-headings:mt-12 first:prose-headings:mt-0 prose-headings:mb-4 prose-headings:font-display prose-h2:text-xl md:prose-h2:text-2xl prose-p:mb-4 prose-a:underline" id="cms-content">
        {{ page.content }}
    </div>
</div>


